body {
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

input {
    border: none;
    background-color: rgba(211, 211, 211, 0.349);
    height: 2em;
    width: 100%;
}