header {
    nav {
        width: 100vw;
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
        div {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            a { display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                text-decoration: none;
                text-transform: uppercase;
                height: 3em;
            }
            a:hover {
                background-color: black;
                color: white;
            }
        }
    }
}