
.grid-cont {
    display: grid;
    grid-template-areas:
    "block none none"
    "block bottom bottom"
    ;
    gap: 1rem;
}

// PREMIER BLOCK GRID
.first-block {
    margin-top: 50px;

    .titre {
        color: red;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .texte {
        font-weight: bold;
    }

    .block {
        grid-area: block;
        border: solid 1px lightgray;
        display: grid;
        grid-template-rows: 80% 20%;
        .img {
            background: url(../../img/27-1068x713.jpg) center/cover;
        }

        .contxt {
            padding: 10px;
            display: inline-block;
        }
    }

    .none {
        border: solid 1px lightgray;
        .img {
            background: url(../../img/18-1068x712.jpg) center/cover;
            width: 100%;
            height: 250px;
        }

        .contxt {
            padding: 10px;
        }
    }

    .none2 {
        border: solid 1px lightgray;
        .img {
            background: url(../../img/23-1068x712.jpg) center/cover;
            width: 100%;
            height: 250px;
        }

        .contxt {
            padding: 10px;
        }
    }

    .bot {
        grid-area: bottom;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: solid 1px lightgray;
        .img {
            background: url(../../img/26-1068x712.jpg) center/cover;
            width: 94%;
            height: 250px;
        }

        .contxt {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.trending {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;

    .banner {
        padding: 5px 20px 5px 20px;
        background-color: rgba(128, 128, 128, 0.199);
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            display: flex;
            align-items: center;
            background-color: red;
            color: white;
            padding: 0px 10px 0px 10px;
            font-family: 'Montserrat', sans-serif;
            margin-right: 20px;
            height: 2em;
        }

        p {
            font-weight: bold;
        }

        div {
            display: flex;
            .carre-banner {
                position: relative;
                left: 0px;
                top: 10px;
                margin-right: 10px;
                height: 30px;
                width: 30px;
                border: solid 1px rgba(128, 128, 128, 0.555);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: rgba(128, 128, 128, 0.555);
            }
            .carre-banner:nth-of-type(2) {
                margin-right: 0px;
            }
            .carre-banner:hover {
                border: solid 1px red;
                background-color: red;
                color: white;

            }

            .swiper-button-next:after{
                display: none;
            }
            .swiper-button-prev:after{
                display: none;
            }
        }

        .left {
            display: flex;
            align-items: center;
            width: 70%;
        }

        .right {
            display: flex;
            justify-content: end;
            width: 30%;
        }
    }
}